@page "/"
@using global::Unstoppable.Blazor

@inject AsyncLocalStorage AsyncLocalStorage
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<DataContainer HasData="@HasVisited">
  <NoData>
    Welcome to your new app. This is your first visit.
  </NoData>
  <Template>
    Welcome happy visitor. You last visited on @lastVisited
  </Template>
</DataContainer>

@code {
  private DateTime? lastVisited;

  protected override async Task OnInitializedAsync()
  {
    lastVisited = await AsyncLocalStorage.GetAsync<DateTime>("lastVisited");
    await AsyncLocalStorage.SetAsync("lastVisited", DateTime.Now);
  }

  private bool HasVisited => lastVisited != DateTime.MinValue;
}
